<main>
  <div class="vote-card">
    <div class="icon vote-icon">🗳️</div>
    <h2>Vote Étudiant</h2>
    <p>Sélectionnez le poste</p>

    <form class="vote-form">
      <div class="candidates-scroll-container">
        <label class="candidate-container">
          <div class="candidate-information">
            <div class="candidate-number">
              <strong>1</strong>
            </div>
            <div class="candidate-text-content">
              <div class="candidate-name">
                <strong>Votez votre PRESIDENT</strong>
              </div>
              <div class="candidate-details">
                <span class="candidate-sector">Description du poste</span>
                <span class="candidate-post">Président</span>
              </div>
            </div>
          </div>
        </label>

        <label class="candidate-container">
          <div class="candidate-information">
            <div class="candidate-number">
              <strong>2</strong>
            </div>
            <div class="candidate-text-content">
              <div class="candidate-name">
                <strong>Votez votre VICE-PRESIDENT</strong>
              </div>
              <div class="candidate-details">
                <span class="candidate-sector">Description du poste</span>
                <span class="candidate-post">Vice-Président</span>
              </div>
            </div>
          </div>
        </label>

        <label class="candidate-container">
          <div class="candidate-information">
            <div class="candidate-number">
              <strong>3</strong>
            </div>
            <div class="candidate-text-content">
              <div class="candidate-name">
                <strong>Votez le SECRETAIRE</strong>
              </div>
              <div class="candidate-details">
                <span class="candidate-sector">Description du poste</span>
                <span class="candidate-post">Secrétaire</span>
              </div>
            </div>
          </div>
        </label>

        <label class="candidate-container">
          <div class="candidate-information">
            <div class="candidate-number">
              <strong>4</strong>
            </div>
            <div class="candidate-text-content">
              <div class="candidate-name">
                <strong>Votez le RESPONSABLE FINANCIER</strong>
              </div>
              <div class="candidate-details">
                <span class="candidate-sector">Description du poste</span>
                <span class="candidate-post">Responsable financier</span>
              </div>
            </div>
          </div>
        </label>
      </div>

      <button type="submit" class="vote-submit">✅ Terminer mes votes</button>
    </form>
  </div>
</main>
