<main>
  <div class="vote-card">
    <div class="icon vote-icon">🗳️</div>
    <h2>Vote Étudiant</h2>
    <p>Sélectionnez le poste</p>

    <form class="vote-form">
      <div class="candidates-scroll-container">
        @for (election of elections(); track election.ID; let i = $index) {
        <label class="candidate-container">
          <div class="candidate-information">
            <div class="candidate-number">
              <strong>{{ i + 1 }}</strong>
            </div>
            <div class="candidate-text-content">
              <div class="candidate-name">
                <strong
                  >Votez votre {{ election.profile.toUpperCase() }}</strong
                >
              </div>
              <div class="candidate-details">
                <span class="candidate-sector">Description du poste</span>
                <span class="candidate-post">{{ election.profile }}</span>
              </div>
            </div>
          </div>
        </label>
        }
      </div>

      <button type="submit" class="vote-submit">✅ Terminer mes votes</button>
    </form>
  </div>
</main>
