<main>
  <div class="vote-card">
    <div class="icon vote-icon">🗳️</div>
    <h2>Vote Étudiant</h2>
    <p>Sélectionnez un ou plusieurs candidats</p>

    <form class="vote-form">
      <div class="candidates-scroll-container">
        @for (candidate of candidates(); track candidate.ID) {
        <label class="candidate-container">
          <input type="checkbox" class="candidate-checkbox" />
          <div class="candidate-information">
            <div class="candidate-number">
              <strong>{{ candidate.number }}</strong>
            </div>
            <div class="candidate-text-content">
              <div class="candidate-name">
                <strong>{{ candidate.student.fullName }}</strong>
                <span class="candidate-devise"> {{ candidate.slogan }} </span>
              </div>
              <div class="candidate-details">
                <span class="candidate-sector">
                  {{ candidate.student.sector }} {{ candidate.student.level }}
                </span>
                <span class="candidate-post"> {{ candidate.profile }}</span>
              </div>
            </div>
          </div>
        </label>
        }
      </div>

      <button type="submit" class="vote-submit">✅ Valider mon vote</button>
    </form>
  </div>
</main>
