<main>
  <div class="vote-card">
    <div class="icon vote-icon">🗳️</div>
    <h2>Vote Étudiant</h2>
    <p>Sélectionnez un ou plusieurs candidats</p>

    <form class="vote-form">
      <div class="candidates-scroll-container">
        <label class="candidate-container">
          <input type="checkbox" class="candidate-checkbox" />
          <div class="candidate-information">
            <div class="candidate-number">
              <strong>1</strong>
            </div>
            <div class="candidate-text-content">
              <div class="candidate-name">
                <strong>TOLOJANAHARY Franco Isma</strong>
                <span class="candidate-devise">Je pense donc je suis</span>
              </div>
              <div class="candidate-details">
                <span class="candidate-sector">Informatique L2</span>
                <span class="candidate-post">Président</span>
              </div>
            </div>
          </div>
        </label>

        <label class="candidate-container">
          <input type="checkbox" class="candidate-checkbox" />
          <div class="candidate-information">
            <div class="candidate-number">
              <strong>2</strong>
            </div>
            <div class="candidate-text-content">
              <div class="candidate-name">
                <strong>RAKOTO Jean Pierre</strong>
                <span class="candidate-devise">Unis pour le changement</span>
              </div>
              <div class="candidate-details">
                <span class="candidate-sector">Mathématiques L3</span>
                <span class="candidate-post">Président</span>
              </div>
            </div>
          </div>
        </label>

        <label class="candidate-container">
          <input type="checkbox" class="candidate-checkbox" />
          <div class="candidate-information">
            <div class="candidate-number">
              <strong>3</strong>
            </div>
            <div class="candidate-text-content">
              <div class="candidate-name">
                <strong
                  >RAKOTONANDRASANA Nomentsoa Georges François Gabriel Fenosoa
                  Sitraka</strong
                >
                <span class="candidate-devise"
                  >L'avenir ensemble avec vous tous, nous allons avancé avec le
                  temps</span
                >
              </div>
              <div class="candidate-details">
                <span class="candidate-sector">Physique L1</span>
                <span class="candidate-post">Président</span>
              </div>
            </div>
          </div>
        </label>

        <label class="candidate-container">
          <input type="checkbox" class="candidate-checkbox" />
          <div class="candidate-information">
            <div class="candidate-number">
              <strong>4</strong>
            </div>
            <div class="candidate-text-content">
              <div class="candidate-name">
                <strong>RAZEFARISON Gregory Njakatiana Fenomanana</strong>
                <span class="candidate-devise">Avonçons à fond</span>
              </div>
              <div class="candidate-details">
                <span class="candidate-sector">Gestion L3</span>
                <span class="candidate-post">Président</span>
              </div>
            </div>
          </div>
        </label>
      </div>

      <button type="submit" class="vote-submit">✅ Valider mon vote</button>
    </form>
  </div>
</main>
